<div class="container-br">
<div class="container">
<h3>Create a New League</h3>
  <div>
    <form {{action 'save' on="submit"}}>
        <p>{{input type="text" class="leagueName" placeholder="League Name" value=leagueName}}</p>
        <p>{{input type="TextField" class="description" placeholder="Descritpion" value=description}}</p>
      <button type="submit">Create League</button>
    </form>

      </div>
</div>
</div>
