<div class="container-br">
<div class="container">
<h3>Account Settings</h3>
<div class="row">
  <div class="col-md-8">
<section>
<div>
	{{#each user in arrangedContent}}
  <div>Your Username: {{user.username}}</div>
  <br />
  <div>Your email: {{user.email}}</div>
  {{/each}}
</div>
</section>
  </div>
  <div class="col-md-4">Right Columun.</div>
</div>

</div>
</div>