<div class="container-br">
<div class="container">
<h3>Fütbol coming soon.</h3>
<ul>
        {{#each contact in controller}}
          <li>
            <p>
          {{contact.firstName}} {{contact.lastName}} </p>
          </li>
        {{/each}}
      </ul>
</div>
</div>
